# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# next build outputs
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor & system
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# types
next-env.d.ts
